{% extends "base.html" %}

{% block title %}Home - Mission game{% endblock %}

{% block content %}
<h1>Mission game</h1>

<div class="row equal-height">
  <div class="col-md-5 col-sm-12 card_with_bg">
    <div class="card-body">
      <div class="row g-2 align-items-center">
          <a class="btn btn-primary" href="/new-session">New mission</a>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-sm-12">
    <div class="text-center">
      <strong>or</strong><br><br>
    </div>
  </div>

  <div class="col-md-5 col-sm-12 card_with_bg">
    <div class="card-body">
      <div class="row g-2 align-items-center">
        <form method="GET" action="/session">
          <div class="col-auto">
            <div>Join existing session</div>
          </div>
          <div class="col-auto">
            <input class="form-control" type="text" name="session_uuid" placeholder="Session UUID" required />
          </div>
            <button class="btn btn-secondary" type="submit">Join Session</button>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  .equal-height {
    display: flex;
  }
  .equal-height > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>

{% endblock %}